@charset "utf-8";
/* CSS Document */

#newsTicker {
	width: 99%;
	float: left;
	background-color: #F2F2F2;
	padding-left: 1%;
	padding-top: 5px;
	padding-bottom: 5px;
}
#newsTicker .SlidingPanels {
	width: 100%;
	height: 295px;
	float: left;
}
#newsTicker .SlidingPanelsContentGroup {
	width: 100%;
	float: left;
	height: 295px;
}
#newsTicker .SlidingPanelsContent {
	float: left;
	width: 100%;
	height: 295px;
}

#newsTicker img {
	float: left;
	margin-right: 4px;
}
#newsTicker .content {
	height: 280px;
	width: 100%;
}
#newsTicker a {
	text-decoration: none;

}

#newsTicker .prev {
	text-align: left;
	width: 46%;
	float: left;
}

#newsTicker .next {
	text-align: right;
	width: 44%;
	float: right;
}

.SlidingPanelsAnimating * {
	overflow: visible !important;
}

#newsTicker .navLinks {
	clear: both;
	text-align: center;
	border-top:  solid 1px #CCC;
	padding-top: 2px;
	padding-bottom: 2px;
	border: solid 1px #999;
	background-color: #F7F7F7;
	width: 99%;
	font-family: tahoma;
	font-size: 10px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 15px;
}
