@charset "UTF-8";

/* SpryTooltip.css - version 0.2 - Spry Pre-Release 1.6.1 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/* HACK FOR IE: to make sure the tooltips show above form controls, we underlay each tooltip with an iframe */
.iframeTooltip
{
	position: absolute;
	z-index: 1010;
}

.tooltipContent
{
	background-color: #F8FFF9;
	padding: 10px;
	border: 2px dotted #CCCCCC;
	font-family: tahoma;
}
