.googlemaps
    height 280px
    iframe
        width 100%
        height 280px

.contato
    .info
        width 250px
        float left
        +below($tablet)
            width 40%
        +mobile()
            float none
            width 100%
            text-align center
            margin-bottom 30px
        .tel
            yanone 18
            color #787878
            margin 0
            span
                yanone 26
        a.email
            display block
            margin 30px 0
            text-decoration none
            yanone 22
            color $laranja
            transition color .3s ease
            &:hover
                color #505050
        .endereco p
            yanone 20
            color #787878
            margin 2px 0
            +below($tablet)
                yanone 18
    form
        width 580px
        float right
        .left
            float left
            width 255px
        +below($tablet)
            width 55%
            .left
                float none
                width 100%
        +mobile()
            width 100%
        input[type=text]
        input[type=email]
            width 255px
            height 40px
            margin-bottom 10px
            border 1px solid #C8C8C8
            outline 0
            verdana 12
            color #787878
            padding 0 10px
            transition box-shadow .3s ease, border .3s ease
            &:focus
                box-shadow 0 0 8px rgba(255,98,0,.5)
                border-color $laranja
            +below($tablet)
                width 100%
        textarea
            width 315px
            height 140px
            margin-bottom 10px
            float right
            border 1px solid #C8C8C8
            outline 0
            verdana 12
            color #787878
            padding 10px
            transition box-shadow .3s ease, border .3s ease
            resize vertical
            &:focus
                box-shadow 0 0 8px rgba(255,98,0,.5)
                border-color $laranja
            +below($tablet)
                width 100%
        input[type=submit]
            float right
            clear both
            background $laranja
            yanone 22
            outline 0
            text-transform uppercase
            color white
            border 0
            padding 10px 20px
            transition background .3s ease
            &:hover
                background #E54C00
        #form-resposta
            display none
            float left
            clear left
            verdana 12
            color $laranja
            cursor default
            margin-top 16px
            +below($tablet)
                clear left
                text-align center
                width 100%
                margin-top 22px
