.equipe-home
    padding 50px 50px 80px
    text-align center
    +mobile()
        padding 30px 22px
    .equipe-thumb
        display inline-block
        position relative
        width 294px
        margin-bottom 18px
        margin-right 18px
        text-decoration none
        &:nth-child(3n)
            margin-right 0
        +below($tablet)
            width 47%
            max-width 294px
            margin-right 3%
            &:nth-child(2n)
                margin-right 0
        +mobile()
            width 100%
            max-width 380px
            margin 0 0 22px
        img
            display block
            width 100%
            height auto
        .overlay
            display block
            position absolute
            width 100%
            padding 20px
            left 0
            bottom 0
            background rgba(80,80,80,.8)
            transition background .3s ease
            +mobile()
                position relative
                background $laranja
            .nome
                display block
                color white
                yanone 22
                margin-bottom 5px
            .cargo
                color $laranja
                display block
                yanone 18
                transition color .3s ease
                +mobile()
                    color white
        &:hover .overlay
            background rgba(255,98,0,.8)
            +mobile()
                background $laranja
            .cargo
                color rgba(255,255,255,.8)
                +mobile()
                    color white

.equipe-interna
    clearfix()
    padding 50px 50px 80px
    +mobile()
        padding 30px 22px 40px
    .equipe-dados
        width 245px
        float left
        +below($tablet)
            width 28%
            max-width 245px
        +mobile()
            width 70%
            float none
            margin-bottom 20px
        img
            display block
            width 100%
            height auto
            margin-bottom 20px
            +mobile()
                margin-bottom 10px
        a
            display block
            verdana 14
            line-height 1.5
            text-decoration none
            color #787878
            transition color .3s ease
            &:hover
                color $laranja
        span
            verdana 14
            line-height 1.5
            color #787878
        +below($tablet)
            a
            span
                verdana 13
        .box-corporativo
            margin-top 30px
            width 100%
            border 1px solid #C8C8C8
            +mobile()
                display none
            .noticia
                display block
                position relative
                width 100%
                border-top 1px solid #C8C8C8
                padding 20px
                text-decoration none
                yanone 16
                color #787878
                transition .3s background ease
                &:hover
                    background #E7E7E7
                &:after
                    content ""
                    position absolute
                    display block
                    width 100%
                    height 100%
                    top 0
                    left 0
                    border 2px solid white
                .data
                    display block
                    verdana 10
                    color #A0A0A0
                    margin-bottom 5px
                    &:before
                        content "("
                    &:after
                        content ")"
            .title
                display block
                padding 10px 20px
                span
                    yanone 24
                    color #5A5A5A
                    text-transform uppercase
            .title2
                display block
                padding 10px 20px
                clearfix()
                a
                    position relative
                    display inline-block
                    margin-top 3px
                    padding-right 14px
                    float right
                    yanone 18
                    text-decoration none
                    color #A0A0A0
                    transition color .3s ease
                    &:after
                        content ""
                        display block
                        position absolute
                        right 0
                        top 12px
                        width 8px
                        height 5px
                        background $img('seta-ver_mais.png') no-repeat center
                        opacity .5
                        transition opacity .3s ease
                    &:hover
                        color #5A5A5A
                        &:after
                            opacity 1
            .title2
                border-top 1px solid #C8C8C8
    .equipe-conteudo
        width 580px
        float right
        +below($tablet)
            width 65%
        +mobile()
            width 100%
        h2
            yanone 36
            margin 0
            color #505050
        .cargo
            yanone 22
            color $laranja
        .voltar
            display block
            border-top 1px solid #E6E6E6
            margin-top 32px
            padding-top 8px
            text-decoration none
            yanone 18
            color #A0A0A0
            transition color .3s ease
            &:hover
                color $laranja
        .equipe-texto
            margin-top 20px
            h3
                yanone 18
                color $laranja
                text-transform uppercase
                margin 26px 0 0
                &:first-child
                    margin-top 15px
            p
            li
                verdana 13
                color #787878
                margin 8px 0 0
            ul
                list-style-type none
                padding 0
                li
                    margin-top 5px
                    padding-left 15px
                    position relative
                    &:before
                        content ""
                        display block
                        position absolute
                        left 0
                        top 6px
                        width 5px
                        height 5px
                        background $img('bullet.png') no-repeat center
