.banners-wrapper
    width 100%
    height 380px
    position relative
    +below($tablet)
        height 300px
    +mobile()
        height 280px
    #banners
        position relative
        width 100%
        height 100%
        .banner-slide
            position absolute
            width 100%
            height 100%
            padding-top 50px
            padding-left 50px
            background-size cover
            +below($tablet)
                padding 0
            .overlay
                width 425px
                padding 30px
                box-shadow 0 0 5px rgba(0,0,0,.3)
                +below($tablet)
                    width 50%
                    height 100%
                    padding 40px
                +mobile()
                    width 100%
                    padding 22px
                .chamada
                    color white
                    cursor default
                    h3
                        margin 0
                        padding 0
                        text-transform uppercase
                        yanone 36
                    p
                        yanone 22
                        margin 5px 0 20px
                    a
                        display inline-block
                        text-transform uppercase
                        text-decoration none
                        yanone 22
                        color white
                        border 1px solid white
                        padding 8px 16px
                        transition .3s background ease, .3s color ease
                        &:hover
                            background white
                            color #787878
    #prev
    #next
        z-index 9999
        display block
        position absolute
        text-indent -9999px
        width 15px
        height 23px
        top 50%
        margin-top -11px
        opacity .3
        transition opacity .3s ease
        &:hover
            opacity 1
        +mobile()
            display none
    #prev
        background $img('seta-slider_esq.png') no-repeat center
        left -30px
    #next
        background $img('seta-slider_dir.png') no-repeat center
        right -30px

.noticias
    position relative
    z-index 9998
    width 100%
    padding 50px
    box-shadow 0 -3px 3px -1px rgba(0,0,0,.1)
    +below($tablet)
        padding-bottom 70px
    +mobile()
        padding 30px 22px 40px
    clearfix()
    .box-noticias
    .box-corporativo
        width 435px
        float left
        border 1px solid #C8C8C8
        +below($tablet)
            width 46%
        +mobile()
            width 100%
            clear both
        .title
            display block
            padding 18px 20px
            span
                yanone 24
                color #5A5A5A
                text-transform uppercase
            a
                position relative
                display inline-block
                margin-top 3px
                padding-right 14px
                float right
                yanone 18
                text-decoration none
                color #A0A0A0
                transition color .3s ease
                &:after
                    content ""
                    display block
                    position absolute
                    right 0
                    top 10px
                    width 8px
                    height 5px
                    background $img('seta-ver_mais.png') no-repeat center
                    opacity .5
                    transition opacity .3s ease
                &:hover
                    color #5A5A5A
                    &:after
                        opacity 1
        .noticia
            display block
            position relative
            width 100%
            border-top 1px solid #C8C8C8
            padding 20px
            text-decoration none
            yanone 18
            color #787878
            transition .3s background ease
            &:hover
                background #E7E7E7
            &:after
                content ""
                position absolute
                display block
                width 100%
                height 100%
                top 0
                left 0
                border 2px solid white
            .data
                display block
                verdana 10
                color #A0A0A0
                margin-bottom 5px
                &:before
                    content "("
                &:after
                    content ")"
    .box-corporativo
        float right
        +mobile()
            margin-top 22px
