.noticias-home
    .conteudo-noticias
        width 680px !important
        +below($tablet)
            width 100% !important
    .conteudo-busca
        width 100% !important
    .noticia
        display block
        h2
            yanone 24
            color #5A5A5A
            margin 5px 0 10px
            transition color .3s ease
        .info
            verdana 11
            color #A0A0A0
            a
                color $laranja
                text-decoration none
                transition color .3s ease
                &:hover
                    color #5A5A5A
        .noticia-texto img
            max-width 100%
            height auto
            vertical-align top
            margin 1em 0
        .noticia-link
            display block
            text-decoration none
            h2
                yanone 24
                color #5A5A5A
                margin 5px 0 10px
                transition color .3s ease
            .texto
                transition color .3s ease
            .leiamais
                margin 18px 0 32px
                text-align right
                display block
                verdana 13 bold
                color #5A5A5A
                transition color .3s ease, border .3s ease
                text-decoration none
                padding-bottom 6px
                border-bottom 1px solid #E6E6E6
                span
                    color $laranja
            &:hover
                h2
                    color $laranja
                .texto
                    color #505050
                .leiamais
                    color $laranja
                    border-color $laranja
        .voltar
            display block
            border-top 1px solid #E6E6E6
            margin-top 32px
            padding-top 8px
            text-decoration none
            yanone 18
            color #A0A0A0
            transition color .3s ease
            &:hover
                color $laranja
    .pagination
        margin-top 42px
        text-align center
        li
            display inline-block
            border 1px solid #C8C8C8
            text-align center
            padding 0 !important
            margin 0 -1px 0 0 !important
            span
                display block
                padding 5px 10px !important
            &:before
                display none !important
            &:first-child.disabled
            &:last-child.disabled
                display none
            &.active
                background $laranja
                span
                    display block
                    padding 5px 10px !important
                    verdana 13 bold
                    color white
            a
                verdana 13 bold
                display block
                padding 5px 10px
                text-decoration none
                color #787878
                transition color .3s ease
                &:hover
                    color $laranja
