.menu-sub
    width 100%
    height 60px
    background $img('pattern-sub.png') repeat
    line-height 60px
    padding 0 50px
    +mobile()
        height auto
        line-height 1.7
        padding 16px 22px
    a
        yanone 17
        color #A0A0A0
        text-decoration none
        transition color .3s ease
        white-space nowrap
        &:hover
            color #646464
        &.active
            color $laranja
        &:after
            content "/"
            color #B4B4B4
            yanone 14
            margin 0 8px 0 11px
        &:last-child:after
            display none
    p
        margin 0
        yanone 20
        color #646464
        span
            color $laranja

.conteudo-sub
    position relative
    z-index 9998
    width 100%
    padding 50px 50px 80px 50px
    box-shadow 0 -3px 3px -1px rgba(0,0,0,.1)
    +below($tablet)
        padding 30px 50px 50px
    +mobile()
        padding 22px 22px 40px
    clearfix()
    .titulo
        width 220px
        float left
        +below($tablet)
            width 100%
            float none
            margin-bottom 30px
        +mobile()
            margin-bottom 22px
        h2
            yanone 46
            color $laranja
            margin 0
        span
            display block
            yanone 18
            color #A0A0A0
            margin-top 5px
    .conteudo
        width 580px
        float right
        +below($tablet)
            width 100%
            float none
        h3
            yanone 18
            color $laranja
            text-transform uppercase
            margin 26px 0 0
            &:first-child
                margin-top 15px
        a
            verdana 13
            color $laranja
            text-decoration none
            transition color .3s ease
            &:hover
                color #505050
        p
        li
            verdana 13
            color #787878
            margin 8px 0 0
        ul
            list-style-type none
            padding 0
            li
                margin-top 5px
                padding-left 15px
                position relative
                &:before
                    content ""
                    display block
                    position absolute
                    left 0
                    top 6px
                    width 5px
                    height 5px
                    background $img('bullet.png') no-repeat center
