.conteudo-sub .conteudo .item-handle
    display block
    width 100%
    border-bottom 1px solid #E6E6E6
    padding-bottom 12px
    min-height 36px
    margin-bottom 12px
    transition all .3s ease
    .handle
        position relative
        text-decoration none
        text-transform uppercase
        display block
        yanone 20
        color #787878
        transition color .3s ease
        padding-left 22px
        &:before
            content ""
            display block
            position absolute
            top 7px
            left 0
            width 10px
            height 10px
            background $img('mais.png') no-repeat center
            transition background .3s ease
        &:hover
            color $laranja
    .item-content
        display none
        padding-top 5px
        padding-left 22px
    &.active
        border-bottom 1px solid $laranja
        margin-bottom 30px
        padding-bottom 20px
        .handle
            color $laranja
            &:before
                background $img('menos.png') no-repeat center
