body
    position relative
    margin 0
    background $img('bg-top.png')  repeat-x center top,
               $img('pattern.png') repeat

    header
        position relative
        z-index 9999
        width 100%
        padding 0 50px
        overflow hidden
        height 170px
        box-shadow 0 3px 3px -1px rgba(0,0,0,.15)
        +below($tablet)
            height auto
            clearfix()
        +mobile()
            padding 0 0 0 20px
            overflow visible
        h1
            display block
            margin 50px 0 0
            float left
            a
                display block
                width 310px
                height 70px
                text-indent -9999px
                background $img('logo.png') no-repeat center
            +below($tablet)
                float none
                width 310px
                margin 30px auto 20px
            +mobile()
                float left
                width 172px
                height 40px
                margin 23px 0
                a
                    width 100%
                    height 100%
                    background-size 100% auto
        .wrapper
            min-width 370px
            float right
            margin-top 33px
            +mobile()
                display none
            .busca
                position relative
                width 210px
                height 34px
                border 1px solid #E1E1E1
                verdana 12
                color #787878
                float left
                transition box-shadow .3s ease, border .3s ease
                &.foco
                    box-shadow 0 0 8px rgba(255,98,0,.5)
                    border-color $laranja
                input[type=text]
                    background transparent
                    color #646464
                    border 0
                    outline 0
                    height 34px
                    width 172px
                    padding-left 10px
                input[type=submit]
                    border 0
                    outline 0
                    width 34px
                    height 34px
                    position absolute
                    right 1px
                    top -1px
                    background $img('busca.png') no-repeat center
                    opacity .5
                    transition opacity .3s ease
                    &:hover
                        opacity 1
            .lang
                float right
                list-style-type none
                li
                    display block
                    float left
                    height 12px
                    line-height 10px
                    margin-left 10px
                    margin-top -5px
                    &:first-child
                        border-right 1px solid #E1E1E1
                        padding-right 10px
                    a
                        verdana 10
                        color #A0A0A0
                        text-decoration none
                        transition .3s ease
                        &:hover
                            color #646464
            nav
                display block
                clear both
                float left
                margin-top 16px
                border-top 1px solid #E1E1E1
                a
                    display block
                    position relative
                    float left
                    yanone 20
                    color #5A5A5A
                    text-transform uppercase
                    text-decoration none
                    padding-top 10px
                    margin -1px 16px 0
                    border-top 1px solid transparent
                    transition border .3s ease
                    &:hover, &.active
                        border-top 1px solid #000
                    &.active
                        color $laranja
                    &:first-child
                        margin-left 0
                    &:after
                        content "/"
                        display block
                        position absolute
                        right -18px
                        top 13px
                        yanone 15
                        color #E1E1E1
                    &:last-child
                        margin-right 0
                        &:after
                            display none
            +below($tablet)
                width 100%
                margin 10px auto 30px
                .busca
                    width 50%
                    input[type=text]
                        width 80%
                nav
                    width 100%
                    text-align center
                    a
                        display inline-block
                        float none
                        margin-left 26px
                        margin-right 26px
                        border 0 !important
                        padding-top 15px
                        &:after
                            right -28px
                            top 18px
        button
            +mobile()
                display block
            display none
            background-color #5a5a5a
            border 0
            float right
            height 86px
            width 85px
            outline 0
            padding 0
            .lines
                display block
                width 40%
                height 3px
                margin 41px auto
                background white
                position relative
                transition .3s ease
                &:before
                &:after
                    content ""
                    display block
                    position absolute
                    left 0
                    width 100%
                    height 3px
                    background white
                    transition .3s ease
                &:before
                    top 8px
                &:after
                    top -8px
            &.close
                .lines
                    background transparent
                    &:before
                    &:after
                        transform-origin 50% 50%
                        top 0
                    &:before
                        transform rotate3d(0,0,1,45deg)
                    &:after
                        transform rotate3d(0,0,1,-45deg)
        nav#mobile
            +above($mobile)
                display none !important
            display none
            position absolute
            width 100%
            top 85px
            left 0
            z-index 9999
            background rgba(0, 0, 0, .85)
            padding 20px
            a
                display block
                text-align center
                color white
                text-decoration none
                margin 20px 0
                text-transform uppercase
                yanone 20
                &.active
                    color $azul
            .lang
                display block
                list-style-type none
                padding 0
                text-align center
                padding-top 10px
                li
                    display inline-block
                    &:first-child:after
                        content ""
                    a
                        verdana 10
                        color #A0A0A0
                        text-decoration none
                        transition .3s ease
                        padding 0
                        margin 0 5px
                        text-transform lowercase

    footer
        width 100%
        .info
            background #505050
            padding 50px
            +mobile()
                padding 30px 20px
            clearfix()
            nav
                float left
                +mobile()
                    float none
                .row
                    display block
                    margin-bottom 10px
                    +mobile()
                        display none
                    a
                        yanone 20
                        color #969696
                        margin-right 18px
                        text-decoration none
                        text-transform uppercase
                        transition .3s color ease
                        &:hover
                            color white
                .social
                    margin-top 25px
                    +mobile()
                        margin 0 0 20px
                        text-align center
                    a
                        display inline-block
                        width 24px
                        height 24px
                        text-indent -9999px
                        opacity .5
                        transition opacity .3s ease
                        margin-right 5px
                        &:hover
                            opacity 1
                        &.facebook
                            background $img('facebook.png') no-repeat center
                        &.linkedin
                            background $img('linkedin.png') no-repeat center
                        &.youtube
                            background $img('youtube.png') no-repeat center
            .contato
                cursor default
                float right
                text-align right
                yanone 18
                color #969696
                line-height 1.3
                +mobile()
                    float none
                    text-align center
                    .endereco
                    p
                    a
                        font-size 16px
                p
                    margin 0
                .endereco
                    yanone 17
                    margin-bottom 10px
                a
                    display inline-block
                    margin-top 10px
                    color #969696
                    text-decoration none
                    transition color .3s ease
                    &:hover
                        color white
        .copyright
            background #3C3C3C
            padding 25px 50px
            clearfix()
            +mobile()
                padding 20px
            p
                cursor default
                display block
                margin 0
                verdana 10
                color #646464
                &.left
                    float left
                    +mobile()
                        float none
                        display block
                        text-align center
                &.right
                    float right
                    +mobile()
                        float none
                        display block
                        text-align center
                        margin-top 10px
                    a
                        display inline-block
                        text-decoration none
                        color #646464
                        transition color .3s ease
                        &:hover
                            color #A0A0A0
                        &.trupe
                            position relative
                            padding-right 28px
                            &:after
                                content ""
                                display block
                                position absolute
                                right 0
                                top 0
                                width 19px
                                height 15px
                                background $img('trupe.png') no-repeat center

.not-found
    padding 100px 50px 140px
    h1
        text-align center
        color $laranja
        yanone 22
        margin 0
