@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0;
	outline: 0;
}
body {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	background-image: url(../_imagens/body_fundo.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}
body.interna {
	background-image: url(../_imagens/body_fundo_interna.jpg);
}
#defesa {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}
#topo {
	height: 145px;
}
#topo h1{
	height: 100px;
	line-height: 35px;
	float: left;
	width: 270px;

}
#topo h1 a{
	height: 100px;
	width: 270px;
	display: block;
	background-image: url(../_imagens/logo.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: -9999px;

}
#topo #linha{
	height: 30px;
	line-height: 30px;
	padding-top: 5px;

}
#topo #linha p.data{
	color: #FFF;
	float: left;
	width: 200px;

}
#topo #linha p.linguas{
	color: #006B6D;
	float: right;
	width: 190px;

}
#topo #linha p.linguas a{
	color: #006B6D;
	font-family: Arial, Helvetica, sans-serif;


}
#topo #linha p.linguas_pt{
	color: #006B6D;
	float: right;
	width: 175px;

}
#topo #linha p.linguas_pt a{
	color: #006B6D;
	font-family: Arial, Helvetica, sans-serif;


}
#topo #linha form{
	height: 25px;
	width: 170px;
	font-size: 11px;
	text-align: left;
	float: right;
	padding-top: 2px;
	padding-left: 10px;
}
#topo #linha form input.campo{
	height: 17px;
	width: 130px;
	font-size: 12px;
	text-align: left;
	line-height: 17px;
	color: #333;
	border: 1px solid #BBB;
	margin: 0px;
	padding-right: 25px;
}
#topo #linha form input.botao{
	margin-left: -22px;
	margin-bottom: -3px;


}
#menu_topo {
	height: 70px;
	float: right;
	width: 600px;
	padding-top: 30px;

}
ul.topnav {
	list-style: none;
	margin: 0;
	float: left;
	width: 595px;
	font-size: 1.2em;
	background-image: url(../_imagens/menu_topo_fundo.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 45px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 5px;
}
ul.topnav li {
	float: left;
	margin: 0;
	position: relative; /*--Declare X and Y axis base--*/
	background-image: url(../_imagens/separacao.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 0;
	padding-right: 9px;
	padding-bottom: 0;
	padding-left: 5px;
}
ul.topnav li.last {
	background-image: none;
}
ul.topnav li a{
	padding: 10px 5px;
	color: #666B95;
	display: block;
	text-decoration: none;
	float: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}
ul.topnav li a:hover{
	color: #000;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../_imagens/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0;
	top: 37px;
	margin: 0;
	padding: 0;
	display: none;
	float: left;
	width: 190px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	background-color: #F9F9F9;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #33888A;
	border-bottom-color: #33888A;
	border-left-color: #33888A;
	z-index: 90;
	border-top-width: 1px;
	border-top-color: #F9F9F9;
}
ul.topnav li ul.subnav li{
	margin: 0;
	padding: 0; /*--Create bevel effect--*/
	border-bottom: 1px solid #006B6D; /*--Create bevel effect--*/
	clear: both;
	width: 190px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 165px;
	padding-left: 20px;
	background-color: #F9F9F9;
	background-image: url(../_imagens/dropdown_linkbg.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background-color: #F2F2F2;
}
#banner {
	height: 280px;
	background-image: url(../_imagens/banner_fundo.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 770px;
	margin-left: 95px;

}
#conteudo {
	padding-bottom: 20px;
	padding-top: 20px;

}
#conteudo .chamada{
	height: auto;
	background-image: url(../_imagens/chamada_fundo.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 240px;
	margin-bottom: 20px;
	padding-left: 35px;
	padding-bottom: 10px;
	padding-right: 5px;
}
#conteudo div.esquerda_home{
	float: left;
	height: 180px;
	width: 400px;
	background-image: url(../_imagens/bloco_medio.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	margin-bottom: 10px;
}
#conteudo div.esquerda_home h4{
	font-size: 14px;
	color: #666B95;
	margin-bottom: 15px;
	float: left;
	height: auto;
	width: 280px;

}
#conteudo div.esquerda_home p{
	float: left;
	height: auto;
	width: 280px;

}
#conteudo div.esquerda_home p.imagem{
	float: left;
	height: 107px;
	width: 92px;
	margin-right: 15px;

}
#conteudo div.esquerda_home a.ler_mais{
	float: right;
	font-size: 11px;
	line-height: 20px;
	font-weight: bold;
	color: #000;
	height: 20px;
	width: 100px;
	padding-top: 10px;
	text-decoration: none;

}
#conteudo div.direita_home{
	float: right;
	height: 210px;
	width: 260px;
	background-image: url(../_imagens/bloco_menor.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 20px;
	padding-right: 25px;
	padding-bottom: 20px;
	padding-left: 25px;

}
#conteudo div.direita_home p{
	float: left;
	height: auto;
	width: 150px;

}
#conteudo div.direita_home p.imagem{
	float: left;
	height: 144px;
	width: 92px;
	margin-right: 15px;

}
#conteudo div.direita_home a.ler_mais{
	float: right;
	font-size: 11px;
	line-height: 20px;
	font-weight: bold;
	color: #000;
	height: 20px;
	width: 100px;
	padding-top: 10px;
	text-decoration: none;

}
#conteudo div.lista_home{
	float: left;
	height: 220px;
	width: 960px;
}
#conteudo h2.titulo{
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	color: #006B6E;
}
#conteudo h2.titulo:first-letter
{
	font-size:26px;
}
#conteudo h3.subtitulo{
	font-size: 10px;
	margin-bottom: 15px;
	font-weight: normal;
	color: #999999;
	margin-top: -20px;
	padding-left: 25px;
}
#conteudo h5.nome{
	font-size: 16px;
	margin-bottom: 0px;
	font-weight: normal;
	color: #006B6E;
}
#conteudo h6.cargo{
	font-size: 12px;
	margin-bottom: 15px;
	font-weight: normal;
	color: #999999;
}
#conteudo #carrossel{
	width: 960px;
	height: 190px;
	overflow: hidden;

}
#conteudo #carrossel h4{
	font-size: 15px;
	margin-bottom: 5px;


}
#conteudo #carrossel h5{
	font-size: 12px;
	margin-bottom: 10px;
	color: #666B95;
	text-decoration: underline;
}
#conteudo #carrossel p{
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #006B6E;
	padding-left: 5px;
}
#conteudo #carrossel a {
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-align: right;
	display: block;
	padding-right: 10px;

}
#conteudo div.esquerda_interna{
	float: left;
	height: auto;
	width: 300px;

}
#conteudo div.esquerda_menor{
	float: left;
	height: auto;
	width: 250px;

}
#conteudo div.direita_interna{
	float: right;
	height: auto;
	width: 600px;
	padding-bottom: 20px;

}
#conteudo div.full{
	height: auto;
	width: 940px;
	padding-bottom: 20px;
	padding-left: 20px;

}
#conteudo div.direita_texto{
	float: right;
	height: auto;
	width: 600px;
	padding-bottom: 20px;

}
#conteudo div.direita_texto ul{
	list-style-position: inside;
	padding-bottom: 10px;


}
#conteudo div.direita_texto_menor{
	float: left;
	height: auto;
	width: 440px;
	padding-bottom: 20px;
	padding-left: 10px;
}
#conteudo div.direita_sidebar{
	float: right;
	height: 635px;
	width: 190px;
	background-image: url(../_imagens/direita_fundo.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 40px;
	padding-right: 20px;
	padding-bottom: 25px;
	padding-left: 40px;
}
#conteudo ol {
	list-style-position: inside;
	padding-bottom: 10px;


}
#conteudo ol li{
	padding-bottom: 10px;


}
#conteudo div.bloco_sidebar{
	height: auto;
	width: 240px;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 35px;
	background-image: url(../_imagens/bloco_esquerda_interna_fundo.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom: 40px;

}
#conteudo div.bloco_sidebar p{
	text-align: justify;


}
#conteudo div.bloco_sidebar_menor{
	height: auto;
	width: 190px;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 35px;
	background-image: url(../_imagens/bloco_sidebar_menor.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom: 40px;

}
#conteudo div.bloco_sidebar_menor p{
	text-align: justify;


}
#conteudo div.chamada_pagina{
	float: left;
	height: auto;
	width: 300px;

}
#conteudo div.bloco_chamada{
	height: auto;
	width: 240px;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 35px;
	background-image: url(../_imagens/bloco_esquerda_interna_fundo.png);
	background-repeat: no-repeat;
	background-position: left top;

}
#conteudo ul.menu_esquerda{
	height: auto;
	width: 230px;
	list-style-position: inside;
	list-style-image: url(../_imagens/menu_esquerda_li_fundo.jpg);
	padding-left: 10px;

}
#conteudo ul.menu_esquerda li{
	height: auto;
	width: 230px;
	line-height: 22px;

}
#conteudo ul.menu_esquerda li a{
	line-height: 22px;
	color: #666666;
	text-decoration: underline;
	padding-left: 5px;

}
#conteudo ul.menu_direita{
	height: auto;
	width: 180px;
	padding-bottom: 40px;
	background-image: url(../_imagens/divisao.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-bottom: 20px;
	list-style-type: none;
}
#conteudo ul.menu_direita li{
	height: auto;
	width: 230px;
	line-height: 22px;

}
#conteudo ul.menu_direita li a{
	line-height: 22px;
	color: #666B94;
	text-decoration: underline;
	padding-left: 5px;

}
#conteudo ul.noticias_esquerda{
	width: 240px;
	height: auto;
	list-style-type: none;

}
#conteudo ul.noticias_esquerda li{
	width: 240px;
	height: auto;
	margin-bottom: 30px;

}
#conteudo ul.noticias_esquerda li h4 {
	font-size: 15px;
	margin-bottom: 5px;
	color: #666B95;


}
#conteudo ul.noticias_esquerda li h5{
	font-size: 12px;
	margin-bottom: 5px;
	color: #006B6E;


}
#conteudo ul.noticias_esquerda li p{
	padding-bottom: 10px;


}
#conteudo ul.noticias_esquerda li a{
	font-size: 10px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-align: left;
	display: block;

}
#conteudo ul.noticias{
	height: auto;
	list-style-type: none;
	padding: 20px;

}
#conteudo ul.noticias li{
	height: auto;
	margin-bottom: 30px;

}
#conteudo ul.noticias li h4 {
	font-size: 15px;
	margin-bottom: 5px;
	color: #666B95;


}
#conteudo ul.noticias li h5{
	font-size: 12px;
	margin-bottom: 5px;
	color: #006B6E;


}
#conteudo ul.noticias li p{
	padding-bottom: 10px;


}
#conteudo ul.noticias li p.autor{
	font-size: 10px;
	color: #000;


}
#conteudo ul.noticias li a{
	font-size: 10px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-align: left;
	display: block;

}
#conteudo ul.mapa{
	width: 180px;
	height: auto;
	list-style-type: none;
	float: left;
	margin-right: 40px;

}
#conteudo ul.mapa li{
	height: auto;

}
#conteudo ul.mapa li h3 {
	font-size: 16px;
	margin-bottom: 10px;
	color: #666B95;


}
#conteudo ul.mapa li a{
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	text-align: left;
	display: block;
	line-height: 18px;

}
#conteudo a.ver_todas {
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-align: right;
	display: block;
	padding-right: 25px;

}
#conteudo a.voltar {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-align: left;
	display: block;

}
#conteudo div.texto{
	height: auto;
	width: 575px;
	background-image: url(../_imagens/texto_fundo.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 30px;
	padding-top: 10px;
	margin-left: -8px;

}
#conteudo div.texto h5.square{
	height: 85px;
	width: 160px;
	float: left;
	margin-right: 15px;
	font-size: 16px;
	padding-top: 35px;
	padding-right: 10px;
	text-align: center;
	font-weight: normal;
	line-height: 30px;
	display: block;
	background-image: url(../_imagens/h5_square_fundo.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	padding-bottom: 15px;

}
#conteudo div.texto h5.square:first-letter
{
	font-size:22px;
}
#conteudo div.texto h5.line{
	height: auto;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: normal;
	line-height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 10px;
	color: #006B6D;
}
#conteudo div.texto h5.line:first-letter
{
	font-size:22px;
}
#conteudo div.texto p{
	padding-bottom: 12px;
	text-align: justify;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
}
#conteudo div.texto p.img{
	height: auto;
	width: 300px;
	float: left;
	margin-right: 15px;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	display: block;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 0px;
	margin-top: 0px;
	margin-left: 0px;

}
#conteudo div.full_texto{
	padding: 20px;


}
#conteudo div.full_texto p{
	padding-bottom: 10px;



}
#conteudo p.mini_texto {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	line-height: 14px;



}
#conteudo p.mini_texto a{
	color: #000;




}
#conteudo ul.equipe{
	height: auto;
	list-style-type: none;
	padding-top: 50px;

}
#conteudo ul.equipe li{
	width: 190px;
	height: 340px;
	margin-bottom: 15px;
	float: left;
	margin-right: 10px;

}
#conteudo ul.equipe li a.imagem{
	height: 170px;
	width: 170px;
	display: block;
	overflow: hidden;
	position: relative;
	margin: 10px;
	padding-bottom: 18px;
	background-image: url(../_imagens/ul_equipe_a_imagem.png);
	background-repeat: no-repeat;
	background-position: center bottom;



}
#conteudo ul.equipe li a.imagem img{
	position: absolute;
	clip: rect(0px,170px,170px,0px);




}
#conteudo ul.equipe li p.info{
	height: 110px;
	width: 170px;
	background-image: url(../_imagens/ul_equipe_p_info.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	overflow: hidden;
	padding-top: 15px;
	padding-right: 0px;
	padding-left: 20px;
	margin-left: -7px;
	margin-top: -5px;



}
#conteudo ul.equipe li p.info span.nome{
	font-size: 14px;
	color: #006B6E;
	display: block;
	font-weight: bold;
	padding-bottom: 3px;




}
#conteudo ul.equipe li a.email{
	font-size: 12px;
	color: #666B95;
	text-decoration: none;
	text-align: left;
	display: block;

}
#conteudo ul.equipe li a.ver{
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-align: right;
	display: block;
	padding-top: 15px;

}
#conteudo div.equipe {
	width: 190px;
	height: auto;
	margin-right: 10px;

}
#conteudo div.equipe p.imagem{
	height: 170px;
	width: 170px;
	display: block;
	overflow: hidden;
	position: relative;
	margin: 10px;
	padding-bottom: 18px;
	background-image: url(../_imagens/ul_equipe_a_imagem.png);
	background-repeat: no-repeat;
	background-position: center bottom;



}
#conteudo div.equipe p.imagem img {
	position: absolute;
	clip: rect(0px,170px,170px,0px);




}
#conteudo div.equipe p.info{
	height: auto;
	width: 190px;
	display: block;
	overflow: hidden;
	padding-right: 0px;



}
#conteudo div.equipe a.email {
	font-size: 12px;
	color: #666B94;
	text-decoration: underline;
	text-align: left;
	display: block;
	margin-bottom: 10px;

}
#conteudo div.equipe a.vcard {
	font-size: 12px;
	color: #000;
	text-decoration: underline;
	text-align: left;
	display: block;
	margin-bottom: 10px;
	padding-left: 20px;
	line-height: 25px;
	background-image: url(../_imagens/a_vcard.jpg);
	background-repeat: no-repeat;
	background-position: left center;

}
#conteudo div.equipe span.tel {
	font-size: 12px;
	color: #000;
	text-align: left;
	display: block;
	line-height: 20px;
	margin-bottom: 10px;

}

ul.menu   {
	list-style-type:none;
	width: 240px;
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}
ul.menu ul   {
	list-style-type:none;
	margin: 0;
	padding: 0;
	width: 240px;
}
ul.menu a {
	display: block;
	text-decoration: underline;
	font-size: 12px;
	padding-left: 15px;
	width: 200px;
	background-image: url(../_imagens/menu_esquerda_li_fundo.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 35px;
}
ul.menu a.ativo {
	display: block;
	color: #666B95;
	font-weight: bold;
}
ul.menu li {
  margin-top: 1px;
}
ul.menu li a {
	color: #666B95;
	font-weight: bold;
}
ul.menu li a:hover {
	color: #000;

}
ul.menu li ul li a {
	color: #006B6E;
	padding-left: 15px;
	font-size: 11px;
	background-image: none;
	line-height: 14px;
	text-decoration: none;
	padding-bottom: 10px;
	font-weight: normal;
}
ul.menu li ul li a.atual {
	color: #006B6E;
	font-weight: bold;
}
ul.menu li ul li a.ativo{
	text-indent: 0px;
	margin-left: 0px;
	background-image: none;
	color: #666B95;
}
ul.menu li ul li a:hover {
	color: #000;
}



#form_geral {
	width:550px;
	height:auto;
	float:left;
}
#form_geral p {
	font-size: 11px;
	float: left;
	height: auto;
	padding: 0px;
	margin: 0px;
	width: 550px;
}
#form_geral p label {
	float: left;
	line-height: 20px;
	width: 75px;
	padding-top: 3px;
}
#form_geral p.botao_enviar {
	width:550px;
	height:auto;
	float: left;
	padding-left: 0px;
	line-height: 10px;
	font-style: italic;
	padding-top: 20px;
	text-align: left;
}
#form_geral p.obs {
	color: #666;
	font-size: 8px;
	width: 500px;
	font-style: italic;
	float: left;
	margin-bottom: 10px;
}
#form_geral .textfield {
	width:80%;
	font-size:12px;
	color:#333;
	float: left;
	height: auto;
	margin-bottom: 9px;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #CCC;
	border-left-color: #FFF;
}
#form_geral .textfield_medio {
	width:50%;
	font-size:12px;
	color:#333;
	float: left;
	height: auto;
	margin-bottom: 9px;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #CCC;
	border-left-color: #FFF;
}
#form_geral .textarea {
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	border: 1px solid #CCC;
	float: left;
	width: 435px;
	height: 100px;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	margin-right: 2px;
	background-repeat: repeat-x;
	background-color: #FFF;
}




.limpa_float  {
	clear:both;
	height:0px;
	line-height:0px;
}
#defesa_base {
	width: 940px;
	text-align: left;
	color: #666;
	height: 150px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 10px;
	background-image: url(../_imagens/base_fundo.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#base {
	width: 100%;
}
#base div.left {
	float: left;
	height: 150px;
	width: 300px;
	font-size: 11px;
	text-align: left;
	line-height: 14px;
	margin-right: 20px;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-left: 10px;

}
#base div.left a{
	font-size: 11px;
	color: #006B6E;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;

}
#base div.left p.endereco{
	height: 100px;
	width: 400px;
	font-size: 11px;
	text-align: left;
	line-height: 14px;
	padding-top: 20px;

}
#base div.left p{
	height: auto;
	width: 400px;
	font-size: 11px;
	text-align: left;
	line-height: 14px;

}
#base div.right {
	float: right;
	height: 140px;
	width: 290px;
	font-size: 11px;
	text-align: left;
	line-height: 14px;
	color: #FFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-top: 10px;
	padding-right: 10px;

}
#base div.right a{
	font-size: 11px;
	color: #FFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;

}
#base div.right p.twitter{
	height: 75px;
	width: 195px;
	font-size: 11px;
	text-align: left;
	line-height: 14px;
	padding-top: 10px;
	background-image: url(../_imagens/p_twitter.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 85px;
	padding-bottom: 10px;
	overflow: hidden;
	margin-bottom: 5px;
	padding-right: 10px;

}
#base div.right p{
	height: auto;
	width: 400px;
	font-size: 11px;
	text-align: left;
	line-height: 14px;
	color: #666B95;

}
#base div.right a.assinatura{
	height: 20px;
	width: 290px;
	font-size: 11px;
	text-align: left;
	line-height: 14px;
	background-image: url(../_imagens/a_agencia.png);
	background-repeat: no-repeat;
	background-position: right top;
	overflow: hidden;
	display: none;
	text-indent: -9999;
	margin-bottom: 10px;

}
#base form {
	height: 30px;
	width: 400px;
	font-size: 11px;
	text-align: left;

}
#base div.center {
	float: left;
	height: 180px;
	width: 200px;
	font-size: 11px;
	text-align: left;
	line-height: 14px;
	padding: 0px;
}
#menu_base {
	list-style-type: none;
	float: right;
	width: 200px;
	height: auto;
	color: #000;
}
#menu_base li h3{
	width: auto;
	display: block;
	line-height: 20px;
	font-size: 11px;
	color: #000;
	text-decoration: none;
	font-weight: normal;

}
#menu_base li.acompanhe{







	text-decoration: noneheight: autowidth: 700pxfloat: left;
	background-repeat: no-repeat;
	height: 20px;
	width: 120px;
	float: left;
	display: block;


}
#menu_base li.social{







	text-decoration: noneheight: autowidth: 700pxfloat: left;
	background-repeat: no-repeat;
	height: 75px;
	width: 180px;
	padding-top: 16px;
	float: left;
	display: block;


}
#menu_base li a.linkedin{
	display: block;
	height: 40px;
	width: 40px;
	text-indent: -9999px;
	float: left;
	background-image: url(../_imagens/a_linkedin.png);
	background-repeat: no-repeat;
	margin-right: 15px;



}
#menu_base li a.facebook{
	display: block;
	height: 40px;
	width: 40px;
	text-indent: -9999px;
	float: left;
	background-image: url(../_imagens/a_facebook.png);
	background-repeat: no-repeat;
	margin-right: 15px;



}
#menu_base li a.youtube{
	display: block;
	height: 40px;
	width: 40px;
	text-indent: -9999px;
	float: left;
	background-image: url(../_imagens/a_youtube.png);
	background-repeat: no-repeat;
	margin-right: 15px;



}





#mapa{
	list-style-type: none;
	height: 400px;
	width: 570px;
	margin-top: 5px;
	margin-bottom: 20px;

}
#mapa_info {
	width: 160px;
	height: 130px;
	padding-right: 0px;
	padding-left: 20px;
	border:0px;
	color: #000;
}


#paginacao {
	width:100%;
	height:auto;
	display: block;
}
#paginacao a.link_paginacao {
	font-size: 1.2em;
	letter-spacing: -1px;
	color:#FFF;
	background-color: #181818;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	display: block;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #1C1C1C;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #181818;
	text-align: center;
}
#paginacao a.link_paginacao:hover {
	color:#000;
	border-bottom-style: solid;
	border-bottom-color: #666;
	background-color: #FFF;
	border-top-color: #FFF;
}

#paginacao #anteriores {
	width:90px;
	height:22px;
	float:left;
	text-align:center;
	line-height:22px;
	margin:0px;
	padding:0px;
}

#paginacao #proximos {
	width:90px;
	height:22px;
	float:right;
	text-align:center;
	line-height:22px;
	padding:0px;
	margin:0px;
}
.st_sharethis_custom{
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../_imagens/a_redes.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 26px;
	width: 26px;
	text-indent: -9999px;
	padding: 0px;
	display: block;
	float: right;
	margin-top: 3px;
}
