@charset "utf-8";

body  {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
	font-family: tahoma;
	font-size: 12px;
	background-image: url(../_imagens/background_painel.jpg);
	background-repeat: repeat-x;
	background-color: #DBDBDB;
}
#defesa
  {
	margin: 0 auto;
	text-align: left;
} 
#topo  {
	height: 26px;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 15px;
} 
#barra_esquerda
  {
	float: left;
	width: 145px;
	height: 505px;
	padding-right: 35px;
	padding-bottom: 15px;
	text-align: right;
	background-image: url(../_imagens/background_barra_esquerda.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
#barra_esquerda  h1 {
	margin-top: 0px;
	width: 150px;
	height: 100px;
	background-color: transparent;
	background-image: url(../_imagens/logo_painel.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin-bottom: 15px;
	}
#barra_esquerda  h1  span {
	display:none
	}

#conteudo
  {
	background-color: #F8F8F8;
	padding: 15px;
	margin-top: 30px;
	margin-right: 70px;
	margin-bottom: 0;
	margin-left: 250px;
	border: 1px solid #CCCCCC;
	display:none;
} 
#base  {
	position: fixed;
	bottom: 0px;
	height: 35px;
	padding-top: 20px;
	width: 100%;
	text-align: right;
} 
#carregando {
	background-color: #F8F8F8;
	margin-top: 30px;
	margin-right: 70px;
	margin-bottom: 0;
	margin-left: 250px;
	border: 1px solid #CCCCCC;
	height: 289px;
	display: block;
	text-align: center;
	padding-top: 160px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
#titulo {
	font-size:20px;
	color:#666666;
	border-bottom-width: 2px;
	border-bottom-style: groove;
	border-bottom-color: #999999;
}
#atalhos {
	width:40%;
	height:auto;
	margin-right:4%;
	margin-top:20px;
	border-right:dashed 2px #CCCCCC;
	float:left;
	margin-bottom: 10px;
}
#icones_atalhos {
	width:100%;
	height:auto;
	padding-top:30px;
	text-align:left;
	float:left;
}
#estatisticas {
	width:45%;
	height:366px;
	margin-top:20px;
	margin-bottom:10px;
	float:left;
}
#operacional {
	width:100%;
	height:45px;
	padding-top:5px;
	margin-bottom: 2px;
}
#pagina {
	width:6%;
	font-size:10px;
	float:left;
	border:solid 1px #CCCCCC;
	background-color:#EEEEEE;
	text-align:center;
	padding:2px;
	line-height:9px;
}
#ordem {
	width:100%;
	height:20px;
	text-align:right;
	margin-bottom:5px;
	font-size:11px;
	font-family:tahoma;
	line-height:20px;
}
#topo_lista {
	width:99%;
	height:25px;
	border-top:solid 2px #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	border-bottom:solid 1px #DDDDDD;
	text-align:center;
	margin-bottom:4px;
}
#item_lista {
	width:99%;
	height:20px;
	border-bottom:solid 1px #DDDDDD;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	text-align:center;
	margin-bottom:3px;
	background-color:#F4FFF4;
	font-family:tahoma;
	font-size:11px;
}
#item_lista:hover {
	background-color:#EFEFEF;
}
.acoes:hover  {
	background-color:#F4FFF4;
}

.limpafloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
#categorias {
	width:360px;
	height:auto;
	margin-right:25px;
	margin-top:20px;
	border-right:dashed 2px #CCCCCC;
	float:left;
	margin-bottom: 10px;
}
#subcategorias {
	width:360px;
	height:auto;
	margin-top:20px;
	margin-bottom:10px;
	float:left;
}
#lista_categorias {
	width:350px;
	height:auto;
	text-align:left;
	float:left;
}
#lista_subcategorias {
	width:350px;
	height:auto;
	text-align:left;
	float:left;
}
#segmentos {
	width:360px;
	height:auto;
	margin-right:25px;
	margin-top:20px;
	border-right:dashed 2px #CCCCCC;
	float:left;
	margin-bottom: 10px;
}
#lista_segmentos {
	width:350px;
	height:auto;
	text-align:left;
	float:left;
}
#div_form_categ {
	width:310px;
	height:130px;
	text-align:left;
	float:left;
	margin-bottom: 10px;
}
#div_form_subcateg {
	width:310px;
	height:130px;
	text-align:left;
	float:left;
	margin-bottom: 10px;
}
