.jcarousel-skin-tango .jcarousel-container {

}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 900px;
	padding-right: 30px;
	padding-left: 30px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width:  920px;
	height: 120px;
}

.jcarousel-skin-tango .jcarousel-item {
	width: 230px;
	height: 120px;
	padding-right: 25px;
	padding-left: 25px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 30px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
	position: absolute;
	top: 25px;
	right: 0px;
	width: 40px;
	height: 45px;
	cursor: pointer;
	background: transparent url(../_imagens/a_seta_direita.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(../_imagens/a_seta_direita.jpg);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {

}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
	cursor: default;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
	position: absolute;
	top: 25px;
	left: 0px;
	width: 40px;
	height: 45px;
	cursor: pointer;
	background: transparent url(../_imagens/a_seta_esquerda.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../_imagens/a_seta_esquerda.jpg);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {

}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {

}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
}
