*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%
    margin 0

::selection
    background black
    color #fff

::-moz-selection
    background black
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    width 1020px
    background: white;
    border-top: 4px solid black;
    box-shadow: 0 0 12px rgba(0,0,0,.3);
    +below($tablet)
        width 90%
    +mobile()
        width 100%

body
    &:after
        content "" // preload images
        display none
