// Responsive
desktop-base-width     = 1020px
rupture.desktop-cutoff = $tablet = 1100px
rupture.mobile-cutoff  = $mobile = 750px

// Images path
$img($image)
    url('../img/' + $image)

// Colors
$laranja = #FF6200

// Fonts
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400')
yanone($size)
    font-size $size + 0px
    font-family 'Yanone Kaffeesatz', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif
    font-weight 400

verdana($size, $style = normal)
    font-size $size + 0px
    font-family 'Verdana', 'Helvetica', 'Arial', sans-serif
    font-weight normal
    if $style == bold
        font-weight bold
